/* = Variables 
-------------------------------------------------------------------------------------------------------------------- */

$Primary-color : #c70122;
$Secondary-color : #e6e6e6;
$Third-color : white;
$darker-secondary : #808080;


/* Breakpoints */
//$breakpoint-small : ;
//$breakpoint-large : ; 

/* Fonts */
//$font-primary:  ;
//$font-secondary: ;
